html {
	font-size: 14.5px;
}

:root {
	--body-background: #ecf0f1;
	--primary: #2c3e50;
	--secondary: #8e44ad;
	--background: #fff;
	--font-sans-serif: "Inter", sans-serif;
	--gutter: 1.5rem;
	--light-color: #4a5568;
}

.wrap {
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: auto;
	margin-right: auto;
}

body {
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	background-color: var(--body-background);
	color: var(--light-color);
	font-family: var(--font-sans-serif);
	overflow-x: hidden;
}

// Aside

.profile {
	background-color: var(--background);
	position: relative;
	padding: 5rem 0;
	z-index: 9999;
}

.profile__inner {
	padding: var(--gutter);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	h4 {
		font-weight: 400;

		span {
			display: block;
		}
	}
}

.logo {
	font-weight: 700;
	font-size: 2.5rem;
	margin: 0 0 var(--gutter);
	color: var(--primary);
}

.social {
	margin-top: var(--gutter);
	text-align: center;

	li {
		display: inline-block;
	}

	li + li {
		margin-left: var(--gutter);
	}

	a {
		color: #718096;
		display: inline-flex;
	}

	svg {
		height: 1.5em;
		width: 1.5em;
	}
}

.contact__me {
	background: var(--primary);
	border-radius: 99rem;
	font-weight: 300;
	color: #fff;
	display: inline-flex;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	align-items: center;
	padding: 0.65rem 3rem;
	margin-top: var(--gutter);

	svg {
		display: inline-block;
		height: 1.5em;
		width: 1.5em;
		margin-right: 0.5em;
	}
}

// Main

main {
	min-height: 46vh;
}

// Post Page

.post__page {
	border-top: 0.25rem solid var(--secondary);
	nav {
		background-color: #fff;
		position: relative;
		z-index: 999;
		padding: 1.5rem 0;
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
	}

	.branding {
		font-weight: 700;
		font-size: 1.25rem;
	}

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

	.hamburger {
		height: 2.75rem;
		width: 2.75rem;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--background);
		border: none;
		border-radius: 2px;

		svg {
			display: block;
			height: 2rem;
			width: 2rem;

			&.icon__close {
				display: none;
			}
		}
	}

	.menu {
		display: none;
		margin-top: 1.5rem;
		flex-basis: 100%;
		border-radius: 2px;
		overflow: hidden;

		li {
			display: block;
		}

		a {
			display: block;
			padding: 0.5rem;
			border-radius: 2px;

			&:hover {
				color: #718096;
				text-decoration: underline;
			}
		}
	}

	.menu__expanded {
		.menu {
			display: block;
		}

		.hamburger {
			svg {
				&.icon__close {
					display: block;
				}

				&.icon__open {
					display: none;
				}
			}
		}
	}

	main {
		border-radius: 2px;
		background-color: #f7fafc;
	}
}

// Article

article {
	.post-header {
		margin-bottom: 1.5rem;
		padding-bottom: 1.5rem;
		margin-bottom: 3rem;
		text-align: center;
		padding: 3rem 2rem;
		border-bottom: 1px solid rgba(0, 0, 0, 0.06);
		background-size: cover;

		&.has-image {
			color: #fff;
			padding: 5rem 0 4rem;

			.post-meta {
				> * + * {
					&::before {
						content: "/";
						display: inline-block;
						margin: 0 0.25rem;
						color: #fff;
					}
				}
				time,
				span {
					color: #fff;
				}
			}
		}

		.post-meta {
			margin-top: 0.75rem;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 0.88rem;

			> * + * {
				&::before {
					content: "/";
					display: inline-block;
					margin: 0 0.25rem;
					color: var(--secondary);
				}
			}

			time,
			span {
				color: var(--secondary);
			}
		}
	}

	.post-title {
		font-weight: 700;
		font-size: 1.75rem;
		line-height: 1.4;
	}

	.post-content {
		> * + * {
			margin-top: 1.75rem;
		}

		ul,
		ol {
			list-style-position: inside;
			padding-left: 1.5rem;
		}

		ul {
			list-style-type: disc;
		}

		h2,
		h3,
		h4 {
			font-weight: 600;
			margin-top: 3rem;
			line-height: 1.35;
		}

		h5,
		h6 {
			display: inline-block;
			font-size: 1.125rem;
			font-weight: 400;
		}

		blockquote {
			padding: var(--gutter);
			border-left: 0.5rem solid var(--secondary);
			background-color: #fff;
			line-height: 1.77879573633;
			border-radius: 2px;
			box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
		}

		h2 {
			font-size: 1.5rem;
		}

		h3 {
			font-size: 1.25rem;
		}

		h4 {
			font-size: 1.125rem;
		}
	}

	a {
		color: var(--secondary);
		text-decoration: underline;
	}

	img {
		margin-left: auto;
		margin-right: auto;
		margin: 2rem auto;
	}

	.highlighter-rouge {
		display: inline-block;
		font-family: "Source Code Pro", monospace;
		background-color: #f7fafc;
		margin: 0 0.25rem;
		border: 1px solid rgba(0, 0, 0, 0.13);
		font-size: 0.88em;
		padding: 3px;
		border-radius: 3px;
		line-height: 1;
	}

	pre {
		border-radius: 3px;
		min-width: 100px;
		overflow-x: auto;
		font-size: 0.88rem;
		max-width: 100%;
	}

	// code {
	//   font-family: "Source Code Pro", monospace;
	//   hyphens: none;
	//   position: relative;
	//   line-height: 1.77879573633;
	//   width: 100%;
	//   overflow: hidden;
	//   tab-size: 4;
	//   word-break: normal;
	// }
}

// Posts List

.post-list {
	background-color: var(--background);
	li {
		padding: var(--gutter);

		.post-meta {
			color: var(--secondary);
			margin-bottom: 0.25rem;
			display: inline-block;
			font-size: 0.9rem;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	li + li {
		border-top: 1.5px solid rgba(0, 0, 0, 0.04);
	}

	h3 {
		font-weight: 600;
		font-size: 1.25rem;
		line-height: 1.35;
		transition: color 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19);

		a {
			&:hover {
				text-decoration: underline;
				color: var(--secondary);
			}
		}
	}
}

.yt__video {
	width: 100%;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

// Sharing Buttons

.post__share {
	padding: 4rem 0;
	border-top: 1px solid rgba(0, 0, 0, 0.06);
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
	margin: 3rem 0;
	text-align: center;

	li {
		display: inline-block;
	}

	li + li {
		margin-left: var(--gutter);
	}

	a {
		display: inline-block;
		line-height: 1;
		color: #718096;

		&:hover {
			color: var(--secondary);
			text-decoration: underline;
		}
	}

	svg {
		display: block;
		height: 1.35em;
		width: 1.35em;
		margin-right: 0.5rem;
	}
}

.share__title {
	display: inline-flex;
	align-items: center;
	margin-bottom: 2rem;
	font-weight: 600;

	svg {
		display: block;
		height: 1.35em;
		width: 1.35em;
		margin-right: 0.5rem;
	}
}

// Comments

.post__comments {
	padding: 2rem 0 3rem;
	display: block;
	width: 100%;
}

#fbcomments,
.fb-comments,
.fb-comments iframe[style],
.fb-comments span {
	width: 100% !important;
}

// Footer

footer {
	padding: 3rem 0;
	background-color: #2c3e50;
	text-align: center;
	position: static;
	bottom: 0;
	z-index: 999;
	color: #d9e2ea;

	> h2 {
		span {
			display: inline-flex;
			align-items: center;
			font-size: 1rem;
			font-weight: 300;

			svg {
				display: inline-block;
				margin: 0 0.5rem;
			}
		}
	}

	a {
		display: inline-block;
		margin-top: 0.75rem;

		&:hover {
			text-decoration: underline;
		}
	}
}
