@import "@fontsource/outfit/400.css";
@import "@fontsource/outfit/500.css";
@import "@fontsource/outfit/600.css";
@import "@fontsource/outfit/700.css";
@import "@fontsource/outfit/800.css";

// Cascadia Code

@font-face {
  font-family: "Cascadia Code";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("/assets/fonts/CascadiaCode-Regular.woff2") format("woff2");
  /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-family: "Cascadia Code";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""),
    url("/assets/fonts/CascadiaCode-SemiBold.woff2") format("woff2");
  /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-family: "Cascadia Code";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("/assets/fonts/CascadiaCode-Bold.woff2") format("woff2");
  /* Chrome 26+, Opera 23+, Firefox 39+ */
}
