---
import {
  LinkedinLogo,
  GithubLogo,
  InstagramLogo,
  TwitterLogo,
} from "phosphor-react";
---

<footer class="site-footer" id="footer">
  <div class="footer-inner">
    <h4 class="text-center name">Vipin Mishra</h4>
    <p class="email text-center mt-2 mb-4">thevipinmishra@gmail.com</p>
    <ul class="social-list">
      <li>
        <a
          href="https://github.com/thevipinmishra"
          target="_blank"
          rel="noreferrer"
          title="GitHub"
        >
          <GithubLogo weight="fill" size={26} />
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/thevipinmishra/"
          target="_blank"
          rel="noreferrer"
          title="Linkedin"
        >
          <LinkedinLogo weight="fill" size={26} />
        </a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/ig_vipinmishra/"
          target="_blank"
          rel="noreferrer"
          title="Instagram"
        >
          <InstagramLogo weight="fill" size={26} />
        </a>
      </li>
      <li>
        <a
          href="https://twitter.com/thevipinmishraa"
          target="_blank"
          rel="noreferrer"
          title="Twitter"
        >
          <TwitterLogo weight="fill" size={26} />
        </a>
      </li>
    </ul>
  </div>
</footer>

<style lang="scss">
  @import "../styles/_mixins.scss";

  // Site Footer

  .site-footer {
    background-color: #f8f9fa;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23e9ecef' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    padding-block-start: var(--size-10);
    padding-block-end: var(--size-8);

    .name {
      font-weight: 800;
      font-size: var(--font-size-fluid-3);
      color: var(--gray-9);
    }

    .email {
      position: relative;
      color: var(--gray-7);
      font-size: var(--size-fluid-2);
    }

    .social-list {
      padding: 0;
      margin: 1.5rem 0 0 0;
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 1rem;

      a {
        border-radius: var(--radius-2);
        background: #fff;
        color: var(--accent-dark);
        --size: 40px;
        height: var(--size);
        width: var(--size);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        box-shadow: var(--shadow-1);
        will-change: transform;
        transition: transform 0.2s var(--ease-squish-1),
          background 0.2s var(--ease-squish-1), color 0.2s var(--ease-squish-1);

        &:hover {
          background: var(--accent-dark);
          color: #fff;
          transform: translateY(-0.25rem);
        }

        @include focus-ring;
      }
    }
  }
</style>
