---
import { HandWaving } from "phosphor-react";
---

<header class="site-header">
  <div class="header-inner container">
    <h1 class="name">Vipin Mishra.</h1>
    <p class="tagline font-mono text-muted mt-2 mb-3">
      UI/UX Specialized Frontend Developer.
    </p>
    <p class="mb-4 mt-1">
      I design & develop modern websites with pixel-perfection in mind, love
      solving complex design problems & have a strong devotion towards <strong
        >CSS</strong
      >.
    </p>
    <a href="/contact" class="header-cta">
      {"Let's Talk"}
      <HandWaving size={22} />
    </a>
  </div>
</header>
