---
import { HandWaving } from "phosphor-react";
---

<header class="site-header">
  <div class="header-inner container">
    <h1 class="name">Vipin Mishra.</h1>
    <p class="tagline fw-normal mt-2 mb-3">
      UI/UX Specialized Frontend Developer.
    </p>
    <p class="mb-4 mt-1">
     I'm a UI/UX Specialized Frontend Developer. I design and develop modern Web Apps with pixel-perfection in mind. 
    </p>
    <a href="/contact" class="header-cta">
      {"Let's Talk"}
      <HandWaving size={22} />
    </a>
  </div>
</header>
