---

---

<nav class="site-nav">
  <div
    class="nav-inner container d-flex justify-content-between align-items-center py-3"
  >
    <h1 class="branding">
      <a href="/">Vipin Mishra</a>
    </h1>

    <ul class="nav-links d-flex gap-3 ps-0 m-0">
      <li>
        <a href="/blog">All Posts</a>
      </li>
    </ul>
  </div>
</nav>

<style lang="scss">
  .site-nav {
    background: #fff;
    position: relative;
    z-index: 9;
    box-shadow: var(--shadow-1);

    .branding {
      flex-shrink: 0;
      font-weight: 700;

      a {
        &:hover {
          color: var(--accent-dark);
        }
      }
    }

    .nav-links {
      list-style: none;

      a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        padding: 0.5em 1em;
        transition: background 150ms ease;
        border-radius: var(--radius-2);

        &:hover {
          background: var(--gray-1);
          color: var(--accent-dark);
        }
      }
    }
  }
</style>
